body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

header {
    
    margin: 0 auto;
}

header h1 {
    
    margin: 0 auto;
    text-align: center;
}





.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.7rem;
    width: 80vw;
    margin: 0 auto;
    padding: 2rem;
    overflow: hidden;
    background-color: #3d4b52;
    

}

.sliderContainer {
    
    box-sizing: border-box;
    width: 80vw;
    height: 50vh;
    overflow: hidden;
    background-color: black;
   
   
}

.sliderContainer__slider {
    box-sizing: border-box;
    height: 50vh;
    width: (80vw * 5);
    display: flex;
    gap: 1.3rem;
    transition: transform 0.5s ease-in-out;
    
}

.img-item {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


.item_1 {
    background-image: url('./assets/images/1.jpg');
}

.item_2 {
    background-image: url('./assets/images/2.jpg');
}

.item_3 {
    background-image: url('./assets/images/3.jpg');
}

.item_4 {
    background-image: url('./assets/images/4.jpeg');
}

#radio1:checked ~ .sliderContainer .sliderContainer__slider {
    transform: translateX(0);
}

#radio2:checked ~ .sliderContainer .sliderContainer__slider {
    transform: translateX(-25%);
}

#radio3:checked ~ .sliderContainer .sliderContainer__slider {
    transform: translateX(-50%);
}

#radio4:checked ~ .sliderContainer .sliderContainer__slider {
    transform: translateX(-75%);
}


.controls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

}

.controls__area {
   
    background-color: gray;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.controls__area:hover{
    cursor: pointer;
}

.controls__area-item {
    transition: 0.5s;
    border-radius: 50%;
    box-sizing: border-box;
    border: solid 3px  rgb(51, 56, 145);
    
    width: 38.2%;
    height: 38.2%;
    background-color:  rgb(51, 56, 145);
}

.controls__area:hover .controls__area-item {
    border: solid 3px white;
    background-color: white;
}

.controls__area:active .controls__area-item {
    transform: scale(0.7);
}

#radio1:checked ~ .controls .control_1 .controls__area-item {
    background-color: transparent;
}

#radio2:checked ~ .controls .control_2 .controls__area-item {
    background-color: transparent;
}

#radio3:checked ~ .controls .control_3 .controls__area-item {
    background-color: transparent;
}

#radio4:checked ~ .controls .control_4 .controls__area-item {
    background-color: transparent;
}


input {
    display: none;
}


.active {
    transition: 0.5s;
    background-color:  transparent;
}








.infoPanel {
    grid-area: b;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

.hidden {
    animation: startImageEffect 0.5s ease-out;
    
}

.appear {
    animation: switchEffect 0.5s ease-in;
}

@keyframes startImageEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes switchEffect {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}